@using MVC_Project_Group_4.Models.ViewModels
@model EkstraMalzemeVM

@{
    Layout = "~/Views/Shared/_DetayLayout.cshtml";
}



<div>
    <h4>EkstraMalzeme</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.EkstraMalzeme.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.EkstraMalzeme.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.EkstraMalzeme.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.EkstraMalzeme.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.EkstraMalzeme.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.EkstraMalzeme.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.EkstraMalzeme.PicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.EkstraMalzeme.PicturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.EkstraMalzeme.Adet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.EkstraMalzeme.Adet)
        </dd>
    </dl>
</div>
<div class="my-2">
 
    <form method="post">
        <button type="submit" class="btn btn-success" asp-area="UyePaneli" asp-action="AddToCart" asp-controller="Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Sepete Ekle
        </button>
        <input type="hidden" name="type" value="EkMalzemeDetay" />
        <input type="hidden" name="id" value="@Model.EkstraMalzeme.EkstraMalzemeID" />
    </form>

    
</div>
<div>
    <a class="btn btn-outline-warning" asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Urunler">Listeye Dön</a>
</div>
