@using MVC_Project_Group_4.Models.ViewModels
@model UrunlerVM

@{
   
    Layout = "~/Views/Shared/_DetayLayout.cshtml";
}



<div>
   
    <hr />
    @foreach(var hamburger in Model.Hamburgerler)
    {
        
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => hamburger.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => hamburger.Ad)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => hamburger.Fiyat)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => hamburger.Fiyat)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => hamburger.Aciklama)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => hamburger.Aciklama)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => hamburger.PicturePath)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => hamburger.PicturePath)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => hamburger.Adet)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => hamburger.Adet)
        </dd>

        
    </dl>

    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Hamburger.HamburgerID }) |
    <a asp-action="Index">Back to List</a>
</div>
