@using MVC_Project_Group_4.Models.ViewModels
@model MenuVM

@{
   
    Layout = "~/Views/Shared/_DetayLayout.cshtml";
}

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Menu.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Menu.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Menu.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Menu.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Menu.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Menu.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Menu.PicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Menu.PicturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Menu.Adet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Menu.Adet)
        </dd>
    </dl>
</div>
<div class="my-2">
    @* <form method="post">
        <button" asp-area="UyePaneli" asp-action="AddToCart" asp-controller="Cart" type="submit" class="btn btn-success">
            <i  class="fa fa-cart-plus" aria-hidden="true"></i>
            Sepete Ekle
        </button>
        <input type="hidden" name="id" value="@Model.Menu.MenuID" />
    </form> *@
    <form method="post">
        <button type="submit" class="btn btn-success" asp-area="UyePaneli" asp-action="AddToCart" asp-controller="Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Sepete Ekle
        </button>
        <input type="hidden" name="type" value="MenuDetay" />
        <input type="hidden" name="id" value="@Model.Menu.MenuID" />
    </form>
    
</div>
<div>
    <a class="btn btn-outline-warning" asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Urunler">Listeye Dön</a>
</div>
