@using MVC_Project_Group_4.Models.ViewModels
@model TatliVM

@{
    
    Layout = "~/Views/Shared/_DetayLayout.cshtml";
}



<div>
    <h4>Tatli</h4>
    <hr />
    <dl class="row">
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Tatli.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Tatli.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Tatli.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Tatli.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Tatli.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Tatli.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Tatli.PicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Tatli.PicturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Tatli.Adet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Tatli.Adet)
        </dd>
    </dl>
</div>
<div class="my-2">
 
    <form method="post">
        <button type="submit" class="btn btn-success" asp-area="UyePaneli" asp-action="AddToCart" asp-controller="Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Sepete Ekle
        </button>
        <input type="hidden" name="type" value="TatliDetay" />
        <input type="hidden" name="id" value="@Model.Tatli.TatliID" />
    </form>



</div>
<div>
    <a class="btn btn-outline-warning" asp-area="UyePaneli" asp-controller="UyePanel" asp-action="Urunler">Listeye Dön</a>
</div>
