@model IcecekVM

@{
    ViewData["Title"] = "IcecekListele";
}

<h1>IcecekListele</h1>

@if (TempData["infoguncelle"] is not null)
{
<div class="alert alert-success text-center mb-2"> @TempData["infoguncelle"]</div>
}
@if (TempData["infosil"] is not null)
{
<div class="alert alert-danger text-center mb-2"> @TempData["infosil"]</div>
}

<p>
    <a asp-action="IcecekEkle"class="btn btn-primary" >Yeni İcecek Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.IcecekID)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Icecek.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.PicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.Adet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Icecekler)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IcecekID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
                <td>
                    @*   @Html.DisplayFor(modelItem => item.PicturePath) *@
                    <img src="~/Pictures/Icecekler/@item.PicturePath" width="120px" height="90px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adet)
            </td>
                <td>
                    @* @Html.ActionLink("Güncelle", "MenuGuncelle", new { id=item.MenuID }) | *@
                    <a class="btn btn-warning" asp-route-id="@item.IcecekID" asp-controller="Icecek" asp-action="IcecekGuncelle">Güncelle</a>

                </td>
                <td>
                    @*  @Html.ActionLink("Sil", "MenuSil", new { id=item.MenuID } ) *@
                    <a class="btn btn-danger" asp-route-id="@item.IcecekID" asp-controller="Icecek" asp-action="IcecekSil" onclick="return confirm('Emin misiniz?')">Sil</a>
                </td>

        </tr>
}
    </tbody>
</table>
