@model HamburgerVM

@{
    ViewData["Title"] = "HamburgerlerListele";
}

@if (TempData["infoguncelle"] is not null)
{
    <div class="alert alert-success text-center mb-2"> @TempData["infoguncelle"]</div>
}
@if (TempData["infosil"] is not null)
{
    <div class="alert alert-danger text-center mb-2"> @TempData["infosil"]</div>
}


<p>
    <a asp-action="HamburgerOlustur" class="btn btn-primary">Yeni Hamburger Olustur</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.HamburgerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.PicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.Adet)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hamburgerler)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HamburgerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    
                    <img src="~/Pictures/Hamburgerler/@item.PicturePath" width="120px" height="90px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adet)
                </td>
                <td>

                    <a asp-action="HamburgerGuncelle" class="btn btn-warning" asp-route-id="@item.HamburgerID">Güncelle</a>

                </td>
                <td>

                    <a asp-action="HamburgerSil" class="btn btn-danger" asp-route-id="@item.HamburgerID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
